<nz-layout>
  <app-dashboard-header></app-dashboard-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <app-sidebar [activeMenu]="'CUSTOMERS'"></app-sidebar>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-page-header [nzGhost]="false">
        <nz-breadcrumb nz-page-header-breadcrumb>
          <nz-breadcrumb-item>
            <a href="/dashboard/home">Home</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>Customers</nz-breadcrumb-item>
        </nz-breadcrumb>
        <nz-page-header-title>Customers</nz-page-header-title>
        <nz-page-header-content>
          <div class="flex">
            <div class="flex-item">
              <nz-input-group [nzSuffix]="suffixIconSearch">
                <input
                  type="text"
                  [formControl]="searchFormControl"
                  nz-input
                  placeholder="Search..."
                />
              </nz-input-group>
              <ng-template #suffixIconSearch>
                <span nz-icon nzType="search"></span>
              </ng-template>
            </div>
            <div class="flex-item">
              <!-- <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                {{ status ? status : "Filter by Status" }}
                <span nz-icon nzType="down"></span>
              </button> -->
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                  <!-- <li
                      nz-menu-item
                      (click)="applyStatusFilter(status.value)"
                      *ngFor="let status of userStatus"
                    >
                      {{ status.label }}
                    </li> -->
                </ul>
              </nz-dropdown-menu>
            </div>
            <div class="flex-item" *ngIf="searchFormControl.value || status">
              <button
                nz-button
                nzType="text"
                (click)="onResetFilter()"
                nzDanger
              >
                Reset
              </button>
            </div>
          </div>
        </nz-page-header-content>
      </nz-page-header>
      <nz-content>
        <ng-container *ngIf="isDataLoad">
          <nz-spin colspan="7" style="text-align: center" nzTip="Loading...">
          </nz-spin>
        </ng-container>
        <nz-table #basicTable [nzFrontPagination]="false" [nzData]="customers">
          <thead>
            <tr>
              <th>Name</th>
              <th>Contact Details</th>
              <th>Payment Details</th>
              <th>Balance</th>
              <th>Joined At</th>
              <!-- <th>Status</th> -->
              <!-- <th>Action</th> -->
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="!isDataLoad">
              <tr *ngFor="let data of basicTable.data">
                <td>{{ data.name | titlecase }}</td>
                <td>
                  <div>Mobile: {{ data.mobile?.number }}</div>
                  <div>
                    <small>Email: {{ data.email.address }}</small>
                  </div>
                  <div>
                    <small>PAN No: {{ data.panCard || "-" | uppercase }}</small>
                  </div>
                </td>

                <td>
                  <div>Bank: {{ data.bankName || "-" | titlecase }}</div>
                  <div>IFSC: {{ data.bankIFSC || "-" | uppercase }}</div>
                  <div>A/C: {{ data.bankAccNum || "-" | uppercase }}</div>
                  <div>UPI: {{ data.upiID || "-" | titlecase }}</div>
                </td>
                <td>₹ {{ data.user_wallet[0]?.amount }}</td>

                <td>{{ data.createdAt | date : "mediumDate" }}</td>

                <!-- <td>
                  <nz-tag
                    [nzColor]="data.status === 'ACTIVE' ? 'green' : 'red'"
                    >{{ data.status | titlecase }}</nz-tag
                  >
                </td> -->

                <!-- <td>
                  <nz-space>
                    <button
                      *nzSpaceItem
                      nz-button
                      nzSize="default"
                      nzType="primary"
                      (click)="onEditForm(data)"
                    >
                      Add Earning
                    </button>
                    <button
                      *nzSpaceItem
                      nz-button
                      nzSize="default"
                      nzType="default"
                      (click)="onDelete(data._id)"
                    >
                      Delete
                    </button>
                  </nz-space>>
                </td> -->
              </tr>
            </ng-container>
          </tbody>
        </nz-table>
        <nz-pagination
          [nzSize]="'small'"
          [nzResponsive]="true"
          [nzPageSize]="limit"
          [nzPageIndex]="page"
          [nzTotal]="totalCounts"
          (nzPageIndexChange)="onChangePage($event)"
        ></nz-pagination>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
<nz-drawer
  nzSize="large"
  [nzVisible]="visible"
  nzPlacement="right"
  [nzTitle]="isEditMode ? 'Update ' : 'Add New '"
  [nzExtra]="extra"
  (nzOnClose)="close()"
>
  <ng-container *nzDrawerContent>
    <form nz-form [formGroup]="customerFG">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">
          Name</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="The input is not valid name!"
        >
          <input nz-input formControlName="name" id="name" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status" nzRequired
          >Status</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please select  status!"
        >
          <nz-select formControlName="status" id="status">
            <nz-option nzValue="INACTIVE" nzLabel="Inactive"></nz-option>
            <nz-option nzValue="ACTIVE" nzLabel="Active"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="associateContents"
          >Parent Aggregates</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="The input is not valid Parent Aggregate!"
        >
          <nz-select
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select Parent Aggregates"
            formControlName="parentId"
          >
            <nz-option
              *ngFor="let item of (listOfOption$ | async)?.aggregates"
              [nzLabel]="item.name"
              [nzValue]="item._id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="pdfContent"
          >Description</nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="The input is not valid description!"
        >
          <textarea
            nz-input
            formControlName="description"
            id="description"
            placeholder="Enter description "
            [nzAutosize]="{ minRows: 3, maxRows: 5 }"
          ></textarea>
        </nz-form-control>
      </nz-form-item>
      <div class="col-lg-6 fv-row">
        <label class="col-lg-4 col-form-label fw-semibold fs-6"
          >Media Image</label
        >

        <nz-upload
          *ngIf="!mediaImagePreview"
          (nzChange)="getFileDetail($event, 'Media')"
          nzName="mediaAvatar"
          nzAccept=".png,.jpg,.jpeg"
          nzListType="picture-card"
        >
          <ng-container *ngIf="!mediaImagePreview">
            <i nz-icon nzType="plus"></i>
            <div class="ant-upload-text">Upload</div>
          </ng-container>
        </nz-upload>
        <nz-avatar
          [nzShape]="'square'"
          [nzSize]="64"
          *ngIf="mediaImagePreview || isMediaImagePreview"
          [nzSrc]="
            mediaImagePreview
              ? mediaImagePreview
              : imageBaseUrl + isMediaImagePreview
          "
        ></nz-avatar>

        <div style="text-align: right; padding-top: 5px">
          <button
            *ngIf="mediaImagePreview || isMediaImagePreview"
            nz-button
            nzType="primary"
            id="kt_account_profile_details_submit"
            (click)="onClearMedia()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </ng-container>
</nz-drawer>
<ng-template #extra>
  <button nz-button nzType="default" (click)="close()">Cancel</button>
  &nbsp;
  <button nz-button nzType="primary" (click)="submitCreateForm()">Save</button>
</ng-template>
