@import "../../../../assets/styles/styles.scss";
nz-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  height: 60px;
  //   background: rgba(255, 255, 255, 0.2);
  margin: auto 32px auto 0;
  float: left;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  span {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0 24px 24px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  background: #fff;
  padding: 24px;
  min-height: calc(100vh - 142px);
  //   min-height: 280px;
}

nz-input-group,
nz-select {
  width: 50vw;
  max-width: 400px;
  min-width: 200px;
}
.showSearch {
  width: 50vw;
  max-width: 400px;
  min-width: 200px;
}

//////////
.ant-layout-header {
  background: #fff;
  //   height: 64px;
  padding: 0 20px;
  //   color: rgba(0, 0, 0, 0.85);
  //   line-height: 64px;
}

.header {
  &__wrapper {
    width: calc(100vw - 64px);
    max-width: 1600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-menu {
  background: #fff;
  color: $primary-color;
  .ant-menu-item {
    &:hover {
      color: $primary-color-50 !important;
      &::after {
        border-color: rgba(255, 255, 255, 1);
      }
    }
  }
  .ant-menu-item-selected {
    color: $primary-color !important;
    &::after {
      border-color: rgba(255, 255, 255, 1);
    }
  }
}

.ant-menu {
  // box-sizing: border-box;
  // margin: 0;
  // padding: 0;
  // font-variant: tabular-nums;
  // font-feature-settings: 'tnum';
  // color: rgba(0,0,0,.85);
  // font-size: 14px;
  // line-height: 0;
  // list-style: none;
  // background: var(--primary-color);
  // outline: 0;
  // transition: background .3s,width .3s cubic-bezier(.2,0,0,1) 0s;
}
nz-select {
  width: 200px;
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 60px;
  }
  nz-select {
    position: absolute;
    left: 8px;
    top: 72px;
    width: calc(100% - 16px) !important;
    // display: none !important;
  }

  .header {
    &__wrapper {
      width: calc(100vw);
    }
  }

  .ant-layout-header {
    padding: 0 12px;
  }
}
