<nz-layout>
  <app-web-header></app-web-header>

  <nz-layout>
    <!-- <nz-sider nzWidth="200px" nzTheme="light" *ngIf="isSidebarVisible">
        <app-web-sidebar [activeMenu]="'HOME'"></app-web-sidebar>
      </nz-sider> -->
    <nz-layout class="inner-layout">
      <nz-content class="page__container">
        <div class="hero__container">
          <h1>About Us</h1>
          <!-- <p>......</p> -->
        </div>
        <nz-layout class="section">
          <!-- <div class="section__title">Heading</div>
          <div class="section__subtitle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            suscipit adipisci sunt veniam nesciunt sint, harum in aut modi
            facilis dolore neque corrupti, sapiente molestias laboriosam
            voluptatum vero voluptatibus nobis.
          </div> -->
          <!-- <div class="section__action">Activate Offer</div> -->
          <div class="section__terms">
            <!-- <div class="section__terms--title">Offer Terms</div> -->
            <h1>Our Story</h1>
            <p>
              Welcome to Mr.Cashback, where savvy shopping meets instant
              rewards! Established on [Founding Date], we embarked on a mission
              to revolutionize the online shopping experience by seamlessly
              integrating affiliate marketing with the joy of earning cashback.
              Our journey began with a simple vision: empower shoppers to make
              smarter choices while enjoying the perks of cashback on every
              purchase.
            </p>

            <h2>What Sets Mr.Cashback Apart?</h2>
            <ol>
              <li>
                <strong>Unmatched Affiliate Network</strong>
                <p>
                  At Mr.Cashback, we've carefully curated an unparalleled
                  affiliate network featuring some of the most reputable brands
                  and retailers. This ensures that our users have access to a
                  vast array of products and services, all in one convenient
                  location.
                </p>
              </li>
              <li>
                <strong>Instant and Meaningful Cashback Rewards</strong>
                <p>
                  We believe in making every purchase rewarding. With
                  Mr.Cashback, you earn instant and meaningful cashback rewards
                  with every transaction. Whether you're shopping for the latest
                  fashion trends, cutting-edge tech gadgets, or everyday
                  essentials, Mr.Cashback ensures you receive cashback on your
                  purchases.
                </p>
              </li>
              <li>
                <strong>Effortless User Experience</strong>
                <p>
                  Navigating the world of online shopping and affiliate
                  marketing is made easy with Mr.Cashback. Our user-friendly
                  platform is designed to provide a seamless experience,
                  allowing you to discover incredible deals, explore exciting
                  products, and earn cashback effortlessly.
                </p>
              </li>
            </ol>

            <h2>How Mr.Cashback Works</h2>
            <p>
              Join Mr.Cashback: Signing up is a breeze. Create your Mr.Cashback
              account and become part of our community.
            </p>
            <p>
              Shop Through Us: Explore our extensive affiliate network and shop
              as you normally would. Click on your desired products, and we'll
              take care of the rest.
            </p>
            <p>
              Earn Instant Cashback: With every eligible purchase, watch your
              cashback grow instantly. It's that simple! Redeem your earnings or
              let them accumulate for even greater rewards
            </p>
          </div>
        </nz-layout>
      </nz-content>
    </nz-layout>
  </nz-layout>
  <app-web-footer></app-web-footer>
</nz-layout>
