<app-redirection-loading *ngIf="false"></app-redirection-loading>
<nz-layout>
  <app-web-header></app-web-header>

  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light" *ngIf="isSidebarVisible">
      <app-web-sidebar [activeMenu]="'HOME'"></app-web-sidebar>
    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content class="page__container">
        <div class="hero__container">
          <div class="hero__brand">
            <img [src]="imgBaseUrl + offer.icon" alt="" />
          </div>
          <h1>{{ offer.name || "-" | titlecase }}</h1>
          <p>
            Explore offers on {{ offer.name || "-" | titlecase }} and Win
            exciting cashbacks
          </p>
        </div>
        <nz-layout class="section">
          <div class="section__title">You have got a deal</div>
          <div class="section__subtitle">
            Click on the Activate Offer button below to grab the deal or share
            with your friends and family to enjoy referral cashbacks while they
            shop.
          </div>
          <div class="section__cashback" *ngIf="offer.maximumCashback">
            Earn Upto {{ offer.maximumCashback }}% Cashback
          </div>
          <div class="section__timeline">
            <nz-steps
              class="isDesktop"
              [nzCurrent]="2"
              [nzProgressDot]="progressTemplate"
            >
              <nz-step nzTitle="Order" nzDescription="Today"></nz-step>
              <nz-step
                nzTitle="Cashback Tracking"
                [nzDescription]="
                  (offer.trackingTime ? offer.trackingTime.toString() : '0') +
                  ' Hours'
                "
              ></nz-step>
              <nz-step
                nzTitle="Cashback Allotment"
                [nzDescription]="
                  (offer.allotmentTime ? offer.allotmentTime.toString() : '0') +
                  ' Hours'
                "
              ></nz-step>
            </nz-steps>
            <nz-steps
              class="isMobile"
              nzDirection="vertical"
              [nzCurrent]="2"
              [nzProgressDot]="progressTemplate"
            >
              <nz-step nzTitle="Order" nzDescription="Today"></nz-step>
              <nz-step
                nzTitle="Cashback Tracking"
                nzDescription="12 Hours"
              ></nz-step>
              <nz-step
                nzTitle="Cashback Allotment"
                nzDescription="45 Days"
              ></nz-step>
            </nz-steps>
            <ng-template
              #progressTemplate
              let-dot
              let-status="status"
              let-index="index"
            >
              <!-- <span
                nz-popover
                nzPopoverContent="Step {{ index+1 }}: {{ status }}"
                style="margin-left: -100%"
              > -->
              <span
                nz-popover
                nzPopoverContent="Step {{ index + 1 }}"
                style="margin-left: -100%"
              >
                <ng-template [ngTemplateOutlet]="dot"></ng-template>
              </span>
            </ng-template>
          </div>

          <div class="link__wrapper">
            <div class="link__title">Make your own earning link</div>
            <div class="link__subtitle">
              Paste a product link from the above store and convert them into
              ready to use link
            </div>
            <div class="link__input">
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24">Link</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24">
                  <input
                    nz-input
                    [formControl]="linkFormControl"
                    nzId="linkFormControl"
                    placeholder="Paste link here"
                  />
                </nz-form-control>
              </nz-form-item>
              <div class="link__action">
                <button
                  nz-button
                  [nzLoading]="isLoading"
                  [nzType]="linkFormControl.value ? 'primary' : 'default'"
                  [disabled]="!linkFormControl.value"
                  (click)="onClickMakeLink(offer)"
                >
                  Make Link
                </button>
              </div>
            </div>
            <div *ngIf="genratedLink" class="link__generated">
              <div class="link__subtitle" (click)="onNavigate(genratedLink,offer)">
                {{ genratedLink }}
              </div>
              <button
                nz-button
                nzType="primary"
                (click)="copyToClipboard(genratedLink)"
              >
                Copy Link
              </button>
              <div class="link__copy-success" *ngIf="copySuccess">
                Link copied to clipboard!
              </div>
            </div>
          </div>

          <div class="section__footer">
            <div
              class="section__action"
              (click)="openStoreUsingActiveOffer(offer)"
            >
              Activate Offer
            </div>
            <div class="section__action--secondary" (click)="openShare(offer)">
              Share
            </div>
          </div>
          <nz-alert
            nzType="success"
            *ngIf="isReadyToShare"
            nzMessage="Link Copied to clipboard!"
            nzShowIcon
          ></nz-alert>
          <div
            class="section__terms"
            *ngIf="
              offer.termsAndCondition && offer.termsAndCondition.length > 0
            "
          >
            <div class="section__terms--title">Offer Terms</div>
            <!-- <ng-container
              *ngIf="
                offer.termsAndCondition && offer.termsAndCondition.length < 1
              "
            >
              <ng-container *ngFor="let sections of [].constructor(3)">
                <div class="section__terms--subtitle">Reward Related</div>
                <div class="section__terms--details">
                  <ul>
                    <li *ngFor="let terms of [].constructor(3)">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Qui repudiandae vel quaerat fuga.
                    </li>
                  </ul>
                </div>
              </ng-container>
            </ng-container> -->

            <ng-container
              *ngIf="
                offer.termsAndCondition && offer.termsAndCondition.length > 0
              "
            >
              <ng-container *ngFor="let sections of offer?.termsAndCondition">
                <div class="section__terms--subtitle">
                  {{ sections.sectionTitle | titlecase }}
                </div>
                <div class="section__terms--details">
                  <ul>
                    <li *ngFor="let terms of sections.terms">
                      {{ terms }}
                    </li>
                  </ul>
                </div>
              </ng-container></ng-container
            >
          </div>
        </nz-layout>
      </nz-content>
    </nz-layout>
    <app-redirection-loading
      *ngIf="showLoading"
      [redirectData]="redirectData"
    ></app-redirection-loading>
  </nz-layout>
  <app-web-footer></app-web-footer>
</nz-layout>
