<nz-layout>
  <!-- <app-web-header></app-web-header> -->
  <div class="branding">
    <div class="branding__logo">
      <img
        src="../../../../assets/images/mr-cashback-logo.png"
        alt="Mr.Cashback"
      />
    </div>
    <div class="branding__title">Welcome to Mr.Cashback</div>
    <div class="branding__subtitle">
      You have been invited to join us. Download the app by clicking on the
      button below and get referral benefits!
    </div>
    <button nz-button nzType="primary" nzShape="round" (click)="onCopyCode()">
      Get the App
    </button>
  </div>
  <!-- <nz-layout class="inner-layout">
    <nz-content class="page__container">
      <div>
        <h2>invite By {{ inviteCode }}</h2>
        <h2>Device Information</h2>
      </div>
      <div>
        <p><strong>Operating System:</strong> {{ deviceInfo.os }}</p>
        <p><strong>Device Type:</strong> {{ deviceInfo.deviceType }}</p>
        <p><strong>Browser:</strong> {{ deviceInfo.browser }}</p>
      </div>
      <input type="button" value="Copy Code" (click)="onCopyCode()" />
    </nz-content>
  </nz-layout> -->
</nz-layout>
