<nz-layout>
  <app-web-header></app-web-header>

  <nz-layout>
    <!-- <nz-sider nzWidth="200px" nzTheme="light" *ngIf="isSidebarVisible">
            <app-web-sidebar [activeMenu]="'HOME'"></app-web-sidebar>
          </nz-sider> -->
    <nz-layout class="inner-layout">
      <nz-content class="page__container">
        <div class="hero__container">
          <h1>Terms and Conditions</h1>
        </div>
        <nz-layout class="section">
          <div class="section__terms">
            <h2>Last Updated: 04/12/2023</h2>

            <h3>Acceptance of Terms</h3>
            <p>
              By accessing or using the Mrcashback website and services, you
              agree to comply with and be bound by these Terms and Conditions.
              If you do not agree with any part of these terms, you may not use
              our services.
            </p>

            <h3>Use of Services</h3>
            <p>
              <strong>Eligibility:</strong> You must be at least 18 years old
              and capable of forming a binding contract to use Mrcashback. By
              using our services, you affirm that you meet these criteria.
            </p>
            <p>
              <strong>Account Registration:</strong> To access certain features
              of Mrcashback, you may be required to register for an account. You
              are responsible for maintaining the confidentiality of your
              account information and for all activities that occur under your
              account.
            </p>
            <p>
              <strong>Accuracy of Information:</strong> You agree to provide
              accurate, current, and complete information during the
              registration process and to update such information to keep it
              accurate, current, and complete.
            </p>

            <h3>Affiliate Marketing and Cashback Rewards</h3>
            <p>
              <strong>Affiliate Links:</strong> Mrcashback engages in affiliate
              marketing, and some links on our website may be affiliate links.
              We may earn a commission if you make a purchase through these
              links.
            </p>
            <p>
              <strong>Cashback Rewards:</strong> Cashback rewards are subject to
              the terms outlined on the Mrcashback platform. Eligibility for
              cashback may vary based on your interactions with our affiliate
              partners and adherence to our guidelines.
            </p>

            <h3>User Conduct</h3>
            <p>
              <strong>Prohibited Activities:</strong> You agree not to engage in
              any prohibited activities, including but not limited to fraud,
              unauthorized access, or any other actions that violate these Terms
              and Conditions.
            </p>

            <h3>Content Guidelines</h3>
            <p>
              Users are responsible for any content they post on Mrcashback.
              Content that is illegal, offensive, or violates the rights of
              others is strictly prohibited.
            </p>

            <h3>Intellectual Property</h3>
            <p>
              <strong>Ownership:</strong> Mrcashback and its content, including
              logos, text, and graphics, are the property of Mrcashback and are
              protected by copyright, trademark, and other intellectual property
              laws.
            </p>
            <p>
              <strong>Limited License:</strong> Users are granted a limited,
              non-exclusive, non-transferable license to access and use
              Mrcashback for personal and non-commercial purposes.
            </p>

            <h3>Limitation of Liability</h3>
            <p>
              Mrcashback is not liable for any direct, indirect, incidental,
              special, or consequential damages arising out of or in any way
              connected with the use of our services.
            </p>

            <h3>Changes to Terms and Conditions</h3>
            <p>
              Mrcashback reserves the right to update these Terms and Conditions
              at any time. We will notify users of any changes through our
              website.
            </p>
          </div>
        </nz-layout>
      </nz-content>
    </nz-layout>
  </nz-layout>
  <app-web-footer></app-web-footer>
</nz-layout>
