<nz-layout>
  <app-web-header></app-web-header>

  <nz-layout>
    <!-- <nz-sider nzWidth="200px" nzTheme="light" *ngIf="isSidebarVisible">
          <app-web-sidebar [activeMenu]="'HOME'"></app-web-sidebar>
        </nz-sider> -->
    <nz-layout class="inner-layout">
      <nz-content class="page__container">
        <div class="hero__container">
          <h1>Privacy Policy</h1>
          <!-- <p>......</p> -->
        </div>
        <nz-layout class="section">
          <!-- <div class="section__title">Heading</div>
          <div class="section__subtitle">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum
            suscipit adipisci sunt veniam nesciunt sint, harum in aut modi
            facilis dolore neque corrupti, sapiente molestias laboriosam
            voluptatum vero voluptatibus nobis.
          </div> -->
          <!-- <div class="section__action">Activate Offer</div> -->
          <div class="section__terms">
            <h2>Last Updated: 04/12/2023</h2>

            <h3>Overview</h3>
            <p>
              At Mrcashback, we are committed to protecting your privacy and
              ensuring the security of your personal information. This Privacy
              Policy outlines how we collect, use, disclose, and safeguard your
              data when you use our website and services. By using Mrcashback,
              you agree to the terms outlined in this policy.
            </p>

            <h3>Information We Collect</h3>
            <p>
              <strong>Personal Information</strong><br />
              When you sign up for Mrcashback, we may collect personal
              information such as:
            </p>
            <ul>
              <li>Full name</li>
              <li>Email address</li>
              <li>Contact information</li>
              <li>Billing information</li>
            </ul>

            <p>
              <strong>Usage Information</strong><br />
              We automatically collect information about your interaction with
              our website and services, including:
            </p>
            <ul>
              <li>IP address</li>
              <li>Device information</li>
              <li>Browser type</li>
              <li>Pages visited</li>
              <li>Date and time of access</li>
            </ul>

            <h3>How We Use Your Information</h3>
            <p>We use the collected information for the following purposes:</p>
            <ul>
              <li>To provide and maintain our services</li>
              <li>To personalize your experience on Mrcashback</li>
              <li>
                To process transactions and send transaction notifications
              </li>
              <li>
                To communicate with you, including responding to your inquiries
                and providing customer support
              </li>
              <li>To detect and prevent fraud or misuse of our services</li>
              <li>To improve our website and services</li>
            </ul>

            <h3>Sharing Your Information</h3>
            <p>
              We do not sell, trade, or otherwise transfer your personal
              information to outside parties. We may share information with
              trusted third parties who assist us in operating our website,
              conducting our business, or servicing you, as long as those
              parties agree to keep this information confidential.
            </p>

            <h3>Security</h3>
            <p>
              We implement a variety of security measures to safeguard your
              personal information. We use encryption technology, secure socket
              layer (SSL) technology, and regular security assessments to
              protect against unauthorized access.
            </p>

            <h3>Cookies</h3>
            <p>
              Mrcashback uses cookies to enhance your browsing experience. You
              can choose to disable cookies through your browser settings, but
              this may affect your ability to access certain features of our
              website.
            </p>

            <h3>Your Choices</h3>
            <p>You have the right to:</p>
            <ul>
              <li>Access and update your personal information</li>
              <li>Opt-out of receiving promotional communications</li>
              <li>Delete your account</li>
            </ul>

            <h3>Changes to This Policy</h3>
            <p>
              We may update this Privacy Policy periodically. We will notify you
              of any changes by posting the new policy on this page.
            </p>
          </div>
        </nz-layout>
      </nz-content>
    </nz-layout>
  </nz-layout>
  <app-web-footer></app-web-footer>
</nz-layout>
