nz-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 120px;
  height: 60px;
  //   background: rgba(255, 255, 255, 0.2);
  margin: auto 32px auto 0;
  float: left;
  display: flex;
  align-items: center;
  gap: 8px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  span {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }
}

.header-menu {
  line-height: 64px;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0 24px 24px;
}

//////////
.ant-layout-header {
  background: var(--primary-color);
  //   height: 64px;
  padding: 0 20px;
  //   color: rgba(0, 0, 0, 0.85);
  //   line-height: 64px;
}

.header-menu {
  background: var(--primary-color);
  color: rgba(255, 255, 255, 0.85);
  .ant-menu-item {
    &:hover {
      color: rgba(255, 255, 255, 1) !important;
      &::after {
        border-color: rgba(255, 255, 255, 1);
      }
    }
  }
  .ant-menu-item-selected {
    color: rgba(255, 255, 255, 1) !important;
    &::after {
      border-color: rgba(255, 255, 255, 1);
    }
  }
}

.ant-menu {
  // box-sizing: border-box;
  // margin: 0;
  // padding: 0;
  // font-variant: tabular-nums;
  // font-feature-settings: 'tnum';
  // color: rgba(0,0,0,.85);
  // font-size: 14px;
  // line-height: 0;
  // list-style: none;
  // background: var(--primary-color);
  // outline: 0;
  // transition: background .3s,width .3s cubic-bezier(.2,0,0,1) 0s;
}
