<footer>
  <div class="footer__container">
    <!-- <div class="footer__brand">
      <img
        src="../../../../assets/images/mr-cashback-logo.png"
        alt="Mr.Cashback Logo"
      />
    </div> -->
    <div class="footer__links">
      <div class="footer__links--item" [routerLink]="'/about'">About Us</div>
      <div class="footer__links--item" [routerLink]="'/contact'">
        Contact Us
      </div>
      <div class="footer__links--item" [routerLink]="'/terms'">
        Terms & Conditions
      </div>
      <div class="footer__links--item" [routerLink]="'/privacy'">
        Privacy Policy
      </div>
    </div>
    <div class="footer__download">
      <div class="footer__download--item" (click)="openPlayStore()">
        Google Playstore
      </div>
      <div class="footer__download--item" (click)="openAppStore()">
        Apple Store
      </div>
    </div>
    <div class="footer__address">
      225, Benchmark Business Park, Opposite Gujrati School, Satya Sai Square,
      Indore, 452001
    </div>
  </div>
  <div class="footer__copyright">
    © Copyright 2024 Mr.Cashback | All Rights Reserved.
  </div>
</footer>
